<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>  
        <div class="container">
        <form class="form-group" action="/admin/add-product" method="POST">
            <label class="form-label" for="title">Title</label>
            <input class="form-control" type="text" name="title">
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </div>
    </main>
</body>
</html>