<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <div class="container">
        <h1>Home page</h1>
        </div>
    </main>
</body>
</html>